<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="mb-3">
            <form [formGroup]="loginForm">
                <div class="mb-3">
                    <label for="namesurname" class="form-label">Name-Surname</label>
                    <input class="form-control" type="text" formControlName="namesurname">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" type="text" formControlName="username">
                    <span *ngIf="loginForm.controls['username'].errors?.['required'] && loginForm.controls['username']." >boş olamaz</span>
                    
                        <ng-template #other_content>henüz bişey girmedin</ng-template>
                    
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" formControlName="password">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input class="form-control" type="email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="phonenumber" class="form-label">Phone Number</label>
                    <input class="form-control" type="number" formControlName="phonenumber">
                </div>
                <button class="btn btn-primary" type="submit" (click)="signin()">Register</button>

            </form>
        </div>
    </div>
</div>